:root{
    --light-white: #FBFBFB;
    --white: #C8C8CD;
    --dark-white: #87878C;
    --light-gray: #3A3A40;
    --gray: #2E2E34;
    --dark-gray: #28282D;
    --black: #000000;
    --red: #D6363F;
    --yellow: #CA9654;
    --greenish: #8DB85E;
    --green: #43A25A;
    --blue: #5865F2;
}