.tutte-le-colonne{
    display: flex;
}

.una-colonna{
    display: inline;
    width: 100%;
}

.testa-colonna{
    width: auto;
    height: var(--h-sewi-col);
    margin: auto;
    align-items: center;
    display: flex;
    text-align: center;
    background: linear-gradient(to bottom, var(--dark-gray) 40%, var(--light-gray));
    font-size: calc(min(7cqh,5cqw));
    font-weight: bold;
}

.Orario > .testa-colonna{
    background: var(--dark-gray);
}

.corpo-colonna{
    width: auto;
    height: var(--h-col);
    margin: auto;
    background-color: var(--light-gray);
}

.nome-col{
    margin: auto;
    font-size: auto;
}

.occupato > .testa-colonna > .nome-col{
    color: #ffffffaa;
}