.lezione.corrente{
    color: var(--text-special);
}

.lezione{
    font-size: 2cqh;
    align-content: center;
    text-align: center;
    box-shadow: 0 25px 25px 0 rgba(0,0,0,.35);
    margin: 0 0.3vw;
    color: var(--text-normal);
}

.lezioneOpzionale{
    border: #00000000 3px dashed;
    background-color: #00000000;
    font-style: italic;
}

.lezioneOpzionale > span {
    opacity: 0.7;
}

.messaggioLezioneOpzionale {
    font-size: 75%;
    line-height: 250%;
}

.lezioneCorta{
    font-size: 0.7cqh;
}
.lezioneCorta>* {
    font-size: 1.5cqh !important;
}