.lezione.corrente{
    color: var(--text-special);
}

.lezione{
    font-size: 2cqh;
    align-content: center;
    text-align: center;
    box-shadow: 0 25px 25px 0 rgba(0,0,0,.35);
    margin: 0 0.3vw;
    color: var(--text-normal)
}

.lezioneCorta{
    font-size: 0.7cqh;
}
.lezioneCorta>* {
    font-size: 1.5cqh !important;
}