#col-Orario > .aula{
    align-items: start;
    display: flex;
}

#col-Orario > .lezione{
    color: var(--text-special)
}

.orasingola{
    position: relative;
    top: 5.5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.corpo-colonna.orario{
    background-color: var(--background-special);
}

.orario.lezione{
    border-radius: 0px;
}

.Orario{
    max-width: fit-content;
}