#pulsanti-persone{
    width:100%;
    height: fit-content;
    display: flex;
}

#pulsanti-persone>button{
    width: 100%;
}

#pulsanti-giorni{
    width:100%;
    height: fit-content;
    font-size: calc(min(7cqh,5cqw)/3);
}
#pulsanti-giorni>button{
    width: 20%;
    font-size: 200%;
    height: var(--h-sel);
}

button{
    background-color: var(--dark-gray);
    color: var(--light-white);
    border: 0px;
}

button:hover{
    background-color: var(--light-gray);
    font-weight: bold;
}

.selezionato{
    background-color: var(--light-gray);
    color: var(--blue);
    font-weight: bold;
}

#pulsante-opzioni {
    height: var(--h-sel);
    width: var(--h-sel);
    background-color: red;
}
.selettore{
    height: fit-content;
    max-height: var(--h-sel);
    background-color: var(--dark-gray);
    display: flex;
}

#pulsante-opzioni>button {
    height: var(--h-sel);
    width: var(--h-sel);
}

#pulsante-opzioni>button>img {
    height: 80%;
    padding: 10% 0%;
}