@media only screen and (orientation: landscape) {
    .schermogrande{
        display: inherit;
    }
    .schermopiccolo{
        display: none;
    }
    .aula{
        font-size: 2cqh;
        font-weight: bold;
    }
    .materia{
        font-size: 2cqh;
        font-style: italic;
    }
    .orario{
        font-size: 2cqh;
    }
    .lezione{
        border-radius: 0px 0px 20px 20px;
    }
}

@media only screen and (orientation: portrait) {
    .schermogrande{
        display: none;
    }
    .schermopiccolo{
        display: inherit;
    }
    .aula{
        font-size: 1.8cqh;
        font-weight: bold;
    }
    .materia{
        font-size: 1.5cqh;
        font-style: italic;
        font-weight: bold;
    }
    .orario{
        font-size: 1.5cqh;
        font-weight: bold;
    }
    .lezione{
        border-radius: 20px;
    }
    #pulsanti-giorni>button{
        font-size: 300%;
    }
}