@media only screen and (min-width: 728px) {
    .schermogrande{
        visibility: visible;
    }
    .schermopiccolo{
        visibility: hidden;
        font-size: 0px;
        height: 0px;
        width: 0px;
    }
    .aula{
        font-size: 2cqh;
        font-weight: bold;
    }
    .materia{
        font-size: 2cqh;
        font-style: italic;
    }
    .orario{
        font-size: 2cqh;
    }
}

@media only screen and (max-width: 728px) {
    .schermogrande{
        visibility: hidden;
        font-size: 0px;
        height: 0px;
        width: 0px;
    }
    .schermopiccolo{
        visibility: visible;
    }
    .aula{
        font-size: 1.8cqh;
        font-weight: bold;
    }
    .materia{
        font-size: 1.5cqh;
        font-style: italic;
        font-weight: bold;
    }
    .orario{
        font-size: 1.5cqh;
        font-weight: bold;
    }
}