.theme-dark {
    --text-gray: rgba(255, 255, 255, 0.6);
    --text-brown: rgb(147, 114, 100);
    --text-orange: rgb(255, 163, 68);
    --text-yellow: rgb(255, 220, 73);
    --text-green: rgb(77, 171, 154);
    --text-blue: rgb(82, 156, 202);
    --text-purple: rgb(154, 109, 215);
    --text-pink: rgb(226, 85, 161);
    --text-red: rgb(255, 115, 105);
    --background-gray: rgb(69, 75, 78);
    --background-brown: rgb(67, 64, 64);
    --background-orange: rgb(89, 74, 58);
    --background-yellow: rgb(89, 86, 59);
    --background-green: rgb(53, 76, 75);
    --background-blue: rgb(54, 73, 84);
    --background-purple: rgb(68, 63, 87);
    --background-pink: rgb(83, 59, 76);
    --background-red: rgb(89, 65, 65)
}

.theme-light {
    --text-gray: rgba(55, 53, 47, 0.6);
    --text-brown: rgb(100, 71, 58);
    --text-orange: rgb(217, 115, 13);
    --text-yellow: rgb(223, 171, 1);
    --text-green: rgb(15, 123, 108);
    --text-blue: rgb(11, 110, 153);
    --text-purple: rgb(105, 64, 165);
    --text-pink: rgb(173, 26, 114);
    --text-red: rgb(224, 62, 62);
    --background-gray: rgb(235, 236, 237);
    --background-brown: rgb(233, 229, 227);
    --background-orange: rgb(250, 235, 221);
    --background-yellow: rgb(251, 243, 219);
    --background-green: rgb(221, 237, 234);
    --background-blue: rgb(221, 235, 241);
    --background-purple: rgb(234, 228, 242);
    --background-pink: rgb(244, 223, 235);
    --background-red: rgb(251, 228, 228)
}

.app-container .markdown-preview-view pre[class*=language-note-] {
    padding: 3px 2px;
    border-radius: 0
}

.app-container .markdown-preview-view pre[class*=language-note-] code[class*=language-note-] {
    color: var(--text-normal);
    white-space: pre-wrap;
    font-family: var(--default-font);
    font-size: 1rem;
    padding: 0;
    background: 0 0
}

.app-container .markdown-preview-view pre.language-note-gray-background,
.app-container .markdown-preview-view pre.language-note-gray-bg,
.app-container .markdown-preview-view pre.language-note-notice,
.gray-background,
.gray-bg {
    background-color: var(--background-gray)
}

.app-container .markdown-preview-view pre.language-note-brown-background,
.app-container .markdown-preview-view pre.language-note-brown-bg,
.brown-background,
.brown-bg {
    background-color: var(--background-brown)
}

.app-container .markdown-preview-view pre.language-note-orange-background,
.app-container .markdown-preview-view pre.language-note-orange-bg,
.orange-background,
.orange-bg {
    background-color: var(--background-orange)
}

.app-container .markdown-preview-view pre.language-note-warn,
.app-container .markdown-preview-view pre.language-note-yellow-background,
.app-container .markdown-preview-view pre.language-note-yellow-bg,
.yellow-background,
.yellow-bg {
    background-color: var(--background-yellow)
}

.app-container .markdown-preview-view pre.language-note-green-background,
.app-container .markdown-preview-view pre.language-note-green-bg,
.app-container .markdown-preview-view pre.language-note-success,
.green-background,
.green-bg {
    background-color: var(--background-green)
}

.app-container .markdown-preview-view pre.language-note-blue-background,
.app-container .markdown-preview-view pre.language-note-blue-bg,
.app-container .markdown-preview-view pre.language-note-info,
.blue-background,
.blue-bg {
    background-color: var(--background-blue)
}

.app-container .markdown-preview-view pre.language-note-purple-background,
.app-container .markdown-preview-view pre.language-note-purple-bg,
.purple-background,
.purple-bg {
    background-color: var(--background-purple)
}

.app-container .markdown-preview-view pre.language-note-pink-background,
.app-container .markdown-preview-view pre.language-note-pink-bg,
.pink-background,
.pink-bg {
    background-color: var(--background-pink)
}

.app-container .markdown-preview-view pre.language-note-danger,
.app-container .markdown-preview-view pre.language-note-red-background,
.app-container .markdown-preview-view pre.language-note-red-bg,
.red-background,
.red-bg {
    background-color: var(--background-red)
}

.app-container .markdown-preview-view pre.language-note-blue,
.app-container .markdown-preview-view pre.language-note-brown,
.app-container .markdown-preview-view pre.language-note-gray,
.app-container .markdown-preview-view pre.language-note-green,
.app-container .markdown-preview-view pre.language-note-orange,
.app-container .markdown-preview-view pre.language-note-pink,
.app-container .markdown-preview-view pre.language-note-purple,
.app-container .markdown-preview-view pre.language-note-red,
.app-container .markdown-preview-view pre.language-note-yellow {
    background-color: transparent
}

.app-container .markdown-preview-view pre.language-note-gray code.language-note-gray,
.gray {
    color: var(--text-gray)
}

.app-container .markdown-preview-view pre.language-note-brown code.language-note-brown,
.brown {
    color: var(--text-brown)
}

.app-container .markdown-preview-view pre.language-note-orange code.language-note-orange,
.orange {
    color: var(--text-orange)
}

.app-container .markdown-preview-view pre.language-note-yellow code.language-note-yellow,
.yellow {
    color: var(--text-yellow)
}

.app-container .markdown-preview-view pre.language-note-green code.language-note-green,
.green {
    color: var(--text-green)
}

.app-container .markdown-preview-view pre.language-note-blue code.language-note-blue,
.blue {
    color: var(--text-blue)
}

.app-container .markdown-preview-view pre.language-note-purple code.language-note-purple,
.purple {
    color: var(--text-purple)
}

.app-container .markdown-preview-view pre.language-note-pink code.language-note-pink,
.pink {
    color: var(--text-pink)
}

.app-container .markdown-preview-view pre.language-note-red code.language-note-red,
.red {
    color: var(--text-red)
}

.am {
    --accent-dark: #b94738;
    --accent-light: #760000
}

.dem {
    --accent-dark: #c44e5e;
    --accent-light: #800428
}

.csmn {
    --accent-dark: #cb5881;
    --accent-light: #871749
}

.md {
    --accent-dark: #ce65a4;
    --accent-light: #8b2768
}

.rc {
    --accent-dark: #ab5a00;
    --accent-light: #6b1d00
}

.isw {
    --accent-dark: #cb6d09;
    --accent-light: #893000
}

.are {
    --accent-dark: #eb8241;
    --accent-light: #a64400
}

.pr1 {
    --accent-dark: #a19300;
    --accent-light: #665600
}

.asd {
    --accent-dark: #aea200;
    --accent-light: #726500
}

.so {
    --accent-dark: #bcb236;
    --accent-light: #7f7400
}

.pr2 {
    --accent-dark: #c9c261;
    --accent-light: #8b8317
}

.bd {
    --accent-dark: #05893e;
    --accent-light: #004d00
}

.fpw {
    --accent-dark: #52ae59;
    --accent-light: #00701a
}

.ium {
    --accent-dark: #87d576;
    --accent-light: #499537
}

.fdi {
    --accent-dark: #2365d2;
    --accent-light: #00258f
}

.alf {
    --accent-dark: #007ed1;
    --accent-light: #00418f
}

.lip {
    --accent-dark: #0093cd;
    --accent-light: #00568d
}

.logica {
    --accent-dark: #0ea6c8;
    --accent-light: #006889
}

.eed {
    --accent-dark: #7072d7;
    --accent-light: #3c3695
}

.theme-dark * {
    --accent: var(--accent-dark);
    --accent-inverse: var(--accent-light)
}

.theme-light * {
    --accent: var(--accent-light);
    --accent-inverse: var(--accent-dark)
}

* {
    --link-color: var(--accent);
    --text-accent: var(--accent);
    --link-color: var(--accent);
    --caret-color: var(--accent);
    --blockquote-border-color: var(--accent);
    --text-selection: var(--accent-inverse)
}

::spelling-error {
    text-decoration: wavy var(--accent) underline
}

.math {
    color: var(--accent)
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
    background-color: transparent;
    color: var(--accent)
}

.markdown-rendered mark {
    background-color: transparent;
    color: var(--accent);
}

.markdown-preview-view mark {
    background-color: transparent;
    color: var(--accent);
}

ul .list-bullet::after {
    background-color: var(--accent)
}

* {
    --code-background: color-mix(in srgb, var(--accent-inverse) 20%, transparent)
}

body {
    --accent-light: #000000;
    --accent-dark: #ffffff
}

body {
    --metadata-display-reading: none;
    --metadata-display-editing: none
}

.theme-dark .invert {
    filter: invert(100%)
}

.theme-light * {
    --font-text-theme: serif;
    --font-interface-theme: serif;
    --paper-white-0: #f3f0ee;
    --paper-white-1: #EAE7E5;
    --paper-white-2: #E0DDDB;
    --background-primary: var(--paper-white-0);
    --background-secondary: var(--paper-white-1);
    --ribbon-background: var(--paper-white-1);
    --ribbon-background: var(--paper-white-2);
    --ribbon-background-collapsed: var(--paper-white-2);
    --scrollbar-bg: var(--paper-white-2);
    --scrollbar-thumb-bg: var(--paper-white-2);
    --scrollbar-active-thumb-bg: var(--paper-white-2);
    --status-bar-background: var(--paper-white-2);
    --titlebar-background: var(--paper-white-2);
    --titlebar-background-focused: var(--paper-white-2);
    --tab-background-active: var(--paper-white-1);
    --file-header-background: var(--paper-white-1);
    --file-header-background-active: var(--paper-white-1);
    --file-header-background-focused: var(--paper-white-1)
}